body{
    --colorPrimary: #4452fe;
	--colorSecondary: #112d57;
	--colorFirstText: #000000;
	--colorLightText: #ffffff;
	--colorSecondText: #5c5c5c;
	--colorDarkBackground: #181818;
	--colorLightBackground: #ffffff;
    background-color:#000000;
    
}

#headerPicture{
    height:100px;
    width:100px;
  
    /*float:left;*/
}
.header{
    color:#4452fe;
   
    padding-bottom:50px;
    text-align: center;
    font-family:'Oswald','Times New Roman';   
}
#headerImage{
    padding-top:10px;

    margin-left:auto;
    margin-right:auto;
    
}
#entirePage{
    width:800px;
    height:950px;
    margin:auto;
    border:1px #ffffff solid;
    font-family:'Oswald','Times New Roman';
    
}
tbody th{
    text-align:left;
    padding-top:10px;
    float:left;
    position:relative;
}
    

thead th{
    border-bottom:2px solid #fff;
    
    text-align: left;
    font-size:30px;
    font-weight:bold;
}
.tableInfo{
    color:#fff;
    text-align:left;
    float:left;
    margin:auto;
    padding-top:10px;
}
#firstThreeTable{
    
    float:left;
    padding-left:50px;

    
}
#firstThreeTable table{
    border:2px solid #fff;
    float:left;
    padding-left:50px;
}
#lastThreeTable{
  
    float:left;
    padding-left:50px;
}
#lastThreeTable table{
    border:2px solid #fff;
    float:left;
    padding-left:50px;
}
.input{
    text-align:center;
    padding-top:10px;
    font-family:'Oswald','Times New Roman';

   
}
.input input{ 
    background-color:#5c5c5c;
    text-align:center;
    width:350px;
    margin:auto;
    font-size:15px;
    border-color:black;
    color:#ffffff;
    font-family:'Oswald','Times New Roman';
   
}
.table{
    margin:auto;
    padding-right:50px;
}
.input p{
    font-size:20px;
}
button{
    display:block;
    text-align:center;
    margin:auto;
    width:200px;
    background-color: #5c5c5c;
    border-color:black;
    color:white;
    font-family:'Oswald','Times New Roman'; 
}
#entirePage h2{
    margin-top:475px;
    float:left;
    text-align:left;
    position:absolute;

}
.table th{
    float:left;
    text-align:left;
}